


<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{{gem.fullImagePath}}" alt="Dodecahedron">
  <div class="card-body">
    <h5> {{gem.id}}</h5>  
    <h5> {{gem.name}}</h5> 
    <h5> {{gem.price | currency}} </h5>
    <h5> {{gem.wowfactor}}</h5>
    <p>  {{gem.description}} </p>
    <h6> Colors available</h6>
      <ul>
      <li *ngFor="let color of gem.colors">{{color}}</li>     
      </ul>
    <a href="#" class="btn btn-primary">Find Out More</a>
    <button *ngIf="gem.inventory >0"class="btn btn-default">Add to Cart</button>
    <button *ngIf="gem.inventory<=0" class="btn btn-danger" disabled>Sold Out</button>
  </div>
</div>

<br>



